@import url('https://fonts.cdnfonts.com/css/neue-montreal'); /* Added Neue Montreal font */

*{ box-sizing: border-box; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; scroll-behavior: smooth;}
html, body { height: 100%; }

html::-webkit-scrollbar { display: none; }
html { -ms-overflow-style: none; scrollbar-width: none; }

body {
    margin: 0;
    font-family: Untitled Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    background: #030303 linear-gradient(0deg, rgba(128, 128, 128, 0.1), rgba(169, 169, 169, 0.1));
    font-size: max(calc(var(--_size) * 0.03), 10px);
    --_factor: min(600px, 80vh);
    --_size: min(var(--_factor), 80vw);
}

h1, h2, p, a {
    font-family: 'Neue Montreal', sans-serif; /* Applied Neue Montreal font */
}

h2, p {
    margin: 0; padding: 0;
}
h2 a {
    text-decoration: none;
    color: unset;
}

/* Spotlight Effect */
.home-container {
    position: relative;
    overflow: hidden;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;          /* Position it at the top */
    margin-top: -70px; /* Adjust this value based on the navibar's height */
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2000px;
    height: 500px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent 70%);
    transform: translateX(-50%);
    pointer-events: none; /* Allows interaction with underlying elements */
    opacity: 0.4;
    filter: blur(100px);
}
