@import url('https://fonts.cdnfonts.com/css/neue-montreal'); /* Added Neue Montreal font */

*{ box-sizing: border-box; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; scroll-behavior: smooth;}
html, body { height: 200%; }

html::-webkit-scrollbar { display: none; }
html { -ms-overflow-style: none; scrollbar-width: none; }
  
body {
    margin: 0;
    font-family: Untitled Sans, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    background: #030303 linear-gradient(0deg, rgba(128, 128, 128, 0.1), rgba(169, 169, 169, 0.1));
    font-size: max(calc(var(--_size) * 0.03), 10px);
    --_factor: min(600px, 800vh);
    --_size: min(var(--_factor), 800vw);
}

h1, h2, p, a {
    font-family: 'Neue Montreal', sans-serif; /* Applied Neue Montreal font */
}

h2, p {
    margin: 0; padding: 0;
}
h2 a {
    text-decoration: none;
    color: unset;
}

/* Spotlight Effect */
.home-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    top: 0;          /* Position it at the top */
    margin-top: -70px; /* Adjust this value based on the navibar's height */
    background: #030303 linear-gradient(180deg, rgba(128, 128, 128, 0.1), rgba(169, 169, 169, 0.1));

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    height: 100vh;
}

.snap-container {
    scroll-snap-align: start;
    height: 100vh; /* Each section takes full viewport height */
}

.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2000px;
    height: 500px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.2), transparent 70%);
    transform: translateX(-50%);
    pointer-events: none; /* Allows interaction with underlying elements */
    opacity: 0.4;
    filter: blur(100px);
}

.hero-section {
    top: 0;
    height: 100vh;
    margin-top: 750px;
    box-sizing: border-box;
}

.hero-container {
    display: flex; /* Enables flex layout */
    align-items: center; /* Vertically centers the items */
    justify-content: flex-start; /* Horizontally aligns items to the start */
    gap: 130px; /* Adds space between hero-text and hero-subtext */

    /* Added bounding box styles */
    border: 2px solid rgba(255, 255, 255, 0.3); /* Semi-transparent border */
    border-radius: 25px; /* Rounded corners */
    padding: 140px; /* Inner spacing */
    background-color: rgba(3, 3, 3, 0.5); /* Semi-transparent background */
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 250px;

    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); /* Added inner glow */
}

.hero-subtext {
    font-size: 2em;
    /* Removed solid color to apply gradient */
    background: linear-gradient(270deg, #ffffff, #e298ff); /* Added linear gradient */
    background-clip: text; /* Added standard background-clip for compatibility */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    /* Initially no text-shadow */
    text-shadow: none;
    
    /* Removed animation from default state */
    /* animation: applyTextShadow 1s ease-in-out 3.5s forwards; */
    
    /* Enable hardware acceleration */
    transform: translateZ(0);
    backface-visibility: hidden;
}

.hero-subtext.apply-text-shadow {
    /* Add animation only when the class is present */
    animation: applyTextShadow 1s ease-in-out 3.5s forwards;
}

.hero-subtext div {
    display: flex;
    flex-wrap: wrap;
    
    /* Ensure smooth rendering */
    transform: translateZ(0);
    backface-visibility: hidden;
}

.hero-subtext-safari {
    font-size: 2em;
    /* Removed solid color to apply gradient */
    background: linear-gradient(270deg, #ffffff, #e298ff); /* Added linear gradient */
    background-clip: text; /* Added standard background-clip for compatibility */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-shadow: 
        0 0 20px rgba(255, 255, 255, 0.3), 
        0 0 30px rgba(255, 255, 255, 0.2), 
        0 0 40px rgba(255, 0, 255, 0.15), 
        0 0 50px rgba(255, 0, 255, 0.1);
        
    /* Enable hardware acceleration */
    transform: translateZ(0);
    backface-visibility: hidden;
}

/* Keyframes to add text-shadow */
@keyframes applyTextShadow {
    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.3), 
                     0 0 30px rgba(255, 255, 255, 0.2), 
                     0 0 40px rgba(255, 0, 255, 0.15), 
                     0 0 50px rgba(255, 0, 255, 0.1);
    }
}

.down-arrow {
  position: absolute;
  top: 500px; /* Adjust the distance from the bottom as needed */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.project-section {  
    /* Center the project-container horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 200px;
}

.project-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2000px;
    height: 500px;
    transform: translateX(-50%);
    pointer-events: none; /* Allows interaction with underlying elements */
    opacity: 0.4;
    filter: blur(100px);
}

.hero-image {
    width: 200px; /* Adjust the size as needed */
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.4))
            drop-shadow(0 0 20px rgba(255, 255, 255, 0.3))
            drop-shadow(0 0 30px rgba(255, 0, 255, 0.2))
            drop-shadow(0 0 40px rgba(255, 0, 255, 0.1));
    transition: filter 0.3s ease-in-out;
}

.hero-image:hover {
    filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.6))
            drop-shadow(0 0 25px rgba(255, 255, 255, 0.5))
            drop-shadow(0 0 35px rgba(255, 0, 255, 0.4))
            drop-shadow(0 0 45px rgba(255, 0, 255, 0.2));
}

@media (max-width: 768px) {
    .hero-container {
        gap: 50px;
        padding: 50px;
        flex-direction: column;
        margin-top: 150px;
    }

    .project-container {
        margin-top: 219px;
    }

    .down-arrow {
        margin-top: 40px; /* Adjust spacing as needed */
        align-self: center; /* Ensures the arrow is centered */
        left: 44%; /* Move to the horizontal center */
        transform: translateX(-50%); /* Center the arrow precisely */
        z-index: 100;
    }
    
}

@media (max-width: 600px) {
    .hero-container {
        gap: 50px;
        padding: 50px;
        flex-direction: column;
        margin-top: 150px;
    }

    .project-container {
        margin-top: 175px;
    }

    .down-arrow {
        margin-top: -40px; /* Adjust spacing as needed */
        align-self: center; /* Ensures the arrow is centered */
        left: 44%; /* Move to the horizontal center */
        transform: translateX(-50%); /* Center the arrow precisely */
        z-index: 100;
    }
    
}
