@import url('https://fonts.cdnfonts.com/css/neue-montreal'); /* Added Neue Montreal font */

h1, h2, p, a {
    font-family: 'Neue Montreal', sans-serif; /* Applied Neue Montreal font */
}

body {
    padding-top: 70px; /* Adjust this value based on the navibar's height */
}

html, body {
    height: 100%;
    overflow: hidden; /* Prevent the body from scrolling */
}

